<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd hh:mm:ss a} %level %c - %m %n" />
        </Console>
        <!-- <JDBC name="dbLogsStore" tableName="LOGS">
            <ConnectionFactory
                class="com.jp.config.ConnectionFactory"
                method="getConnection" />
            <Column name="DATE_TIME" isEventTimestamp="true" />
            <Column name="CLASS" pattern="%logger" />
            <Column name="LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%message" />
            <Column name="EXCEPTION" pattern="%ex{full}" isClob="true" />
        </JDBC> -->
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <!-- <AppenderRef ref="dbLogsStore" /> -->
        </Root>
    </Loggers>

</Configuration>